.menu-container {
  width: 20vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  background-color: #12475b;
  position: relative;
  transition: 0.5s;
}

.menu-content-container {
  display: flex;
}


.option-menu {
  font-family: 'Montserrat';
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 13px 20px;
  margin: 10px 0;
  color: #fff;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s ease; /* Transição suave */
  font-size: 15px;
}

.option-menu i {
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.3s ease; /* Suaviza a mudança de opacidade */
}

.option-menu:hover {
  background-color: #0e3a4c !important; /* Um tom um pouco mais escuro no hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombreamento */
  cursor: pointer;
  transform: scale(1.02); /* Cresce levemente */
}

.option-menu:hover i {
  opacity: 1; /* Ícone fica totalmente visível */
}

.w-100 {
  width: 100%;
}
