@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F4F6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.login-background {
    background: linear-gradient(135deg, #102a33, #20687a);
}

.app-layout {
    display: flex;
    grid-template-columns: auto 1fr;
    min-height: 100vh;
}

.main-content-area {
    flex-grow: 1;
    background-color: #F3F4F6;
}