# IntelliJ / WebStorm
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Environment Files - NUNCA ENVIAR PARA O GIT
# Ignora qualquer arquivo .env em qualquer pasta
**/.env

# Lockfiles de gerenciadores de pacotes
# Ignora qualquer package-lock.json em qualquer pasta
**/package-lock.json

# Pasta de dependências
**/node_modules